<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Danske Nyheder</title>

    <!-- eootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="static/css/freelancer.css" rel="stylesheet">

  </head>

  <body id="page-top">

   <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container-fluid">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">🚀</a>
        <a class="navbar-brand" href="/">Danske Nyheder</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Forside</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/finans">Finans</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/tech">Teknologi</a>
            </li>

          </ul>
        </div>
      </div>
    </nav>


    <section class="success" id="feeds">
        <div class="row">

          <div class="col-lg-4">
            {% for f in feeds_left %}
            <h2 class="text-left"><a class="feedtitle" href="{{f.site}}" target="_blank" >{{ f.name }}</a></h2>
            <ul class="list-group">
              {% for e in f.entries %}
              {% if loop.index == 11 %}
                <div class="collapse" id="collapse{{f.id}}">
              {% endif %}
              <li class="list-group-item"><a class="success-link" href="{{e.link}}" target="_blank">{{ e.title }}</a></li>
              {% if loop.index == loop.length and loop.length >= 11 %}
                </div>
              {% endif %}
              {% endfor %}
              {% if f.entries|length >= 11 %}
              <button class="btn btn-primary btn-collapse" type="button" data-toggle="collapse" data-target="#collapse{{f.id}}" ></button>
              {% endif %}
            </ul>
            {% endfor %}

          </div>

          <div class="col-lg-4">
            {% for f in feeds_mid %}
            <h2 class="text-left"><a class="feedtitle" href="{{f.site}}" target="_blank" >{{ f.name }}</a></h2>
            <ul class="list-group">
              {% for e in f.entries %}
              {% if loop.index == 11 %}
              <div class="collapse" id="collapse{{f.id}}">
              {% endif %}
              <li class="list-group-item"><a class="success-link" href="{{e.link}}" target="_blank">{{ e.title }}</a></li>
              {% if loop.index == loop.length and loop.length >= 11 %}
                </div>
              {% endif %}
              {% endfor %}
              {% if f.entries|length >= 11 %}
              <button class="btn btn-primary btn-collapse" type="button" data-toggle="collapse" data-target="#collapse{{f.id}}" ></button>
              {% endif %}
            </ul>
            {% endfor %}
          </div>

          <div class="col-lg-4">
            {% for f in feeds_right %}
            <h2 class="text-left"><a class="feedtitle" href="{{f.site}}" target="_blank" >{{ f.name }}</a></h2>
            <ul class="list-group">
              {% for e in f.entries %}
              {% if loop.index == 11 %}
              <div class="collapse" id="collapse{{f.id}}">
              {% endif %}
              <li class="list-group-item"><a class="success-link" href="{{e.link}}" target="_blank">{{ e.title }}</a></li>
              {% if loop.index == loop.length and loop.length >= 11 %}
                </div>
              {% endif %}
              {% endfor %}
              {% if f.entries|length >= 11 %}
              <button class="btn btn-primary btn-collapse" type="button" data-toggle="collapse" data-target="#collapse{{f.id}}" ></button>
              {% endif %}
            </ul>
            {% endfor %}
          </div>

        </div>
      </div>

    </section>





        <!-- About Section -->
<!--    <section class="success" id="feeds">
      <div class="container">
        <h2 class="text-center">Feeds</h2>
        <div class="row">
          <div class="col-lg-4 ml-auto">
            <p>Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional LESS stylesheets for easy customization.</p>
          </div>
          <div class="col-lg-4 mr-auto">
            <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point!</p>
          </div>
          <div class="col-lg-8 mx-auto text-center">
            <a href="#" class="btn btn-lg btn-outline">
              <i class="fa fa-download"></i>
              Download Theme
            </a>
          </div>
        </div>
      </div>
    </section>
-->
    <!-- Footer -->
    <footer class="text-center">
      <div class="footer-above">
        <div class="container">
          <div class="row">
            <div class="footer-col col-md-6">
              <h3>Kontakt</h3>
              <p>Simon F. Hansen<br>
              <span class="contact"></span>
              <ul class="list-inline">
                <li class="list-inline-item">
                  <a class="btn-social btn-outline" href="https://github.com/simonfh">
                    <i class="fa fa-fw fa-github"></i>
                  </a>
                </li>
              </ul>

            </div>
            <!--
            <div class="footer-col col-md-4">
              <h3>Around the Web</h3>
              <ul class="list-inline">
                <li class="list-inline-item">
                  <a class="btn-social btn-outline" href="#">
                    <i class="fa fa-fw fa-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn-social btn-outline" href="#">
                    <i class="fa fa-fw fa-google-plus"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn-social btn-outline" href="#">
                    <i class="fa fa-fw fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn-social btn-outline" href="#">
                    <i class="fa fa-fw fa-linkedin"></i>
                  </a>
                </li>
            </div>
            -->
            <div class="footer-col col-md-6">
              <h3>Om siden</h3>
              <p> Siden kører i en docker container med flask og bootstrap.<br>
                <a href="https://github.com/SimonFH/docker-news">Se kildekode</a>.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-below">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              🐳🇩🇰
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top d-lg-none">
      <a class="btn btn-primary js-scroll-trigger" href="#page-top">
        <i class="fa fa-chevron-up"></i>
      </a>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="static/js/jqBootstrapValidation.js"></script>
    <script src="static/js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="static/js/freelancer.min.js"></script>


  </body>

</html>
